html, body {
    height: 100%;
}

body {
    background: #fff;
    font-family: Ubuntu, sans-serif;
    font-size: 17px;
    color: #828282;
    font-weight: 400;
    min-width: 320px;
}

a {
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #828689;
}

a:hover {
    color: #828689;
}
.thumbnail {
    border: 3px solid #ddd;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    position: relative;
}

h1 {
    text-align: center;
    color: #555;
    font-size: 48px;
    text-transform: uppercase;
}

h2 {
    font-family: Ubuntu;
    font-size: 30px;
    margin-top: 0;
    text-transform: uppercase;
}

/*--Header--------------------------------*/
#header {
    background: url(../img/Landing-header-background1.jpg) center;
    background-size: cover;
    height: 100%;
    min-height: 500px;
}
#login {
    background: url(../img/Login.jpg) center;
    background-size: cover;
    height: 100%;
    min-height: 500px;
}

.section-table {
    display: table;
    height: 100%;
    width: 100%;
}

.section-row {
    display: table-row;
}

.section-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.section-center {
    max-width: 500px;
    display: inline-block;
}

.loader {
    width: 95px;
    height: 95px;
    border: 15px solid white;
    border-radius: 50%;
    border-top-color: #21201e;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: 1s spin infinite linear;
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


#header .active a {
    font-family: Montserrat, sans-serif;
    background: transparent;
    color: #fff;
    font-weight: normal;
}

#header .navbar-nav > li > a {
    font-family: Montserrat, sans-serif;
    transition: 0.5s;
    color: #fff;
    font-weight: normal;
}

#header .navbar-nav > li > a:hover {
    font-family: Montserrat, sans-serif;
    transition: 0.5s;
    background: transparent;
    color: #fff;
    font-weight: normal;
}

#header.navbar-nav > li > a:focus {
    font-family: Montserrat, sans-serif;
    transition: 0.5s;
    background: transparent;
    color: #fff;
    font-weight: normal;
}

#header p.navbar-text {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    margin-bottom: 0;
}

#header p.grey {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    color: #c6cad1;
}

#header h1 {
    font-family: Montserrat, sans-serif;
    font-size: 31px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

#header p {
    color: #fff;
    font-size: 25px;
}

#header .navbar-right .dropdown-menu {
    background: transparent;
    right: auto;
}

.btn-primary {
    background: #988AEE;
    padding: 8px 18px;
    font-size: 18px;
    margin-top: 5px;
}

.btn-primary:hover {
    background: #204d74;
    transition: 0.5s;
}

.btn-default {
    background: #6a7079;
    border-color: #6a7079;
    color: #fff;
    padding: 8px 18px;
    font-size: 18px;
    margin-top: 5px;
}

.btn-default:hover {
    background: #474c52;
    color: #fff;
    border-color: #6a7079;
    transition: 0.5s;
}
/*--About US-------------------------------------*/
#about {
    padding: 90px 0;
    border-bottom: 2px solid #21201e;
}
#about h3 {
    height: 78px;
        
}

#about h2, p {
    text-align: left;
    color: #828689;
}
#about .services-left {
    float: left;
    width: 30%;
    background: #6a7079;
    text-align: center;
    padding: 2.98em 0;
    border: 2px solid #6a7079;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
#about .services-right h4 {
    font-size: 1.5em;
    color: #828689;
    margin-bottom: 0.5em;
}
#about .services-right p {
    color: #828689;
    text-align: left;
}
#about .services-right {
    float: right;
    width: 70%;
    border: 1px solid #6a7079;
    padding: 1.74em;
}

#about .services-right b {
    color: #988AEE;
}

#about .services-right li {
    color: #fff;
}

#about .services-grids:hover .services-left {
    background: none;
}

#about .services-grids:hover span.glyphicon {
    color: #6a7079;
}

#about .services-info.services-row2 {
    margin-top: 3.5em;
}


.large {
    font-size: 25px;
}
/*--About US-------------------------------------*/
#why {
    padding: 90px 0;
    background: #21201e;
}

#why h1 {
    color: #fff;
    padding-bottom: 80px;
}
/*--services--*/

.services-left {
    float: left;
    width: 30%;
    background: #988AEE;
    text-align: center;
    padding: 2.98em 0;
    border: 2px solid #988AEE;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}

span.glyphicon {
    font-size: 3em;
    color: #fff;
}

.services-right {
    float: right;
    width: 70%;
    border: 1px solid #988AEE;
    padding: 1.74em;
}

.services-right h4 {
    font-size: 1.5em;
    color: #fff;
    margin-bottom: 0.5em;
}

.services-right p {
    color: #fff;
    text-align: left;
}

.services-right b {
    color: #988AEE;
}

.services-right li {
    color: #fff;
}

.services-grids:hover .services-left {
    background: none;
}

.services-grids:hover span.glyphicon {
    color: #988AEE;
}

.services-info.services-row2 {
    margin-top: 3.5em;
}
/*--//services--*/

.about-extended-info {
    border: 2px solid #21201e;
    padding: 11px;
    border-radius: 15px;
}
/*--About US-------------------------------------*/

/*--Catalog--*/
#catalog {
    padding: 90px 0;
    background: #21201e;
}

#catalog h1 {
    color: #fff;
}

#catalog .section-tabs {
    border: 30px solid #fff;
    border-radius: 2px;
    background: #fff;
}
#catalog .product-name{
     height: 78px;
}
#catalog .product-description {
    height: 168px;
}

/*--//Catalog--*/


/*--contact--*/
#contact {
    padding: 90px 0;
    border-bottom: 2px solid #21201e;
}


.contact-form {
    text-align: center;
    padding-top: 40px;
}

.contact-form p {
    width: 60%;
    margin: 1.5em auto 3em;
    text-align: center;
    color: #828689;
}

.contact input[type="text"] {
    color: #828689;
    float: left;
    background: none;
    outline: none;
    font-size: 1em;
    padding: .8em 1em;
    margin-bottom: 2em;
    border: solid 1px #828689;
    -webkit-appearance: none;
    display: inline-block;
    width:100%;
}

.contact textarea {
    resize: none;
    width: 100%;
    background: none;
    color: #828689;
    font-size: 1em;
    outline: none;
    padding: .6em .8em;
    border: solid 1px #828689;
    min-height: 12em;
    -webkit-appearance: none;
}

.contact input[type="submit"] {
    outline: none;
    color: #fff;
    padding: 0.7em 5em;
    font-size: 1.1em;
    margin: 1em 0 0 0;
    -webkit-appearance: none;
    background: #7B68EE;
    transition: 0.5s all;
    border: 2px solid #7B68EE;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
}

.contact input[type="submit"]:hover {
    background: none;
    color: #7B68EE;
}
/*--//contact--*/


/*--map--*/
.map-left {
    padding: 0;
}

.map iframe {
    width: 100%;
    min-height: 350px;
    border: none;
}

.map-right {
    background: #fff;
    padding: 2.28em;
    text-align: center;
}

.map-right h4 {
    font-size: 2em;
    color: #555;
    font-weight: 400;
}

.map-right p {
    color: #828689;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 100;
    margin: 1em 0 2em;
}

.map-right p a {
    color: #828689;
    font-size: 1.1em;
}

.map-right p a:hover {
    color: #000;
}

.map .social-icons {
    margin-top: 2.1em;
}

    .map .social-icons ul li:nth-child(3) {
        margin-right: .5em;
    }
/*--//map--*/

#contacts-nav .navbar-nav > li > a {
    padding: 20px 40px;
}

.active a {
    background: #21201e;
    color: #fff;
}

#contacts-nav .navbar-nav > li > a {
    transition: 0.5s;
}

#contacts-nav .navbar-nav > li > a:hover {
    transition: 0.5s;
    background: #21201e;
    color: #fff;
}

#contacts-nav .navbar-nav > li > a:focus {
    transition: 0.5s;
    background: #21201e;
    color: #fff;
}

#contacts-nav .nav {
    display: inline-block;
}

#contacts-nav .container-fluid {
    padding-left: 0px;
}


/*--footer--*/
#footer {
    padding: 2em 0;
    text-align: center;
    background: #000;
}

#footer p {
    color: #fff;
    font-size: 0.8em;
}

#footer p a {
    color: #fff;
    font-size: 1em;
}

#footer p a:hover {
    color: #988AEE;
    font-size: 1em;
}
/*--//footer--*/




/*-Media--------------------------*/


@media(max-width:1024px){
    #catalog .product-name {
        height: 100px;
    }

    #catalog .product-description {
        height: 232px;
    }
    #catalog .product-price{
        height:52px;
    }
}

@media(max-width:768px) {
    #catalog .product-name {
        height: auto;
    }

    #catalog .product-description {
        height: auto;
    }
    #catalog .product-price {
        height: auto;
    }
}


@media only screen and (max-width: 600px) {
    .section-center {
        max-width: 320px;
    }

    .btn {
        margin: 5px 5px;
    }
}
@media(max-width:480px) {
    .services-left {
        height: 230px;
    }
}

@media(max-width:1366px) {
    .services {
        padding: 5em 0;
    }

    .services-left {
        padding: 3.95em 0;
    }
    #about .services {
        padding: 5em 0;
    }

    #about .services-left {
        padding: 3.95em 0;
    }
}

@media(max-width:1199px) {
    .services-left {
        padding: 5em 0;
    }

    .services-right {
        height: 230px;
    }
    #about .services-left {
        padding: 5em 0;
    }

    #about .services-right {
        height: 230px;
    }
}

@media(max-width:991px) {
    .services {
        padding: 3.5em 0;
    }
    #about .services {
        padding: 3.5em 0;
    }

    .services-grids {
        float: left;
        width: 100%;
        padding: 0.5em 0.5em;
    }

    .services-right {
        float: right;
        width: 70%;
        padding: 0.8em 1em;
    }
    #about .services-grids {
        float: left;
        width: 100%;
        padding: 0.5em 0.5em;
    }

    #about .services-right {
        float: right;
        width: 70%;
        padding: 0.8em 1em;
    }
}

@media(max-width:640px) {
    .services {
        padding: 3em 0;
    }

    .services-right h4 {
        font-size: 1.3em;
    }

    .services-right {
        padding: 0.95em 1em;
    }

    #about .services {
        padding: 3em 0;
    }

    #about .services-right h4 {
        font-size: 1.3em;
    }

    #about .services-right {
        padding: 0.95em 1em;
    }

    .contact input[type="text"] {
        padding: .6em 1em;
    }

    .contact input[type="submit"] {
        padding: 0.6em 5em;
        font-size: 1em;
    }

    .contact textarea {
        min-height: 9em;
    }
}

@media(max-width:640px) {
    #contact input[type="text"] {
        width: 100%;
        font-size: .9em;
    }
}

@media(max-width:480px) {
    .services {
        padding: 2em 0;
    }

    .services-grids {
        float: none;
        width: 100%;
        padding: 0;
        margin-bottom: 1em;
    }

    .services-left {
        padding: 2.3em 0;
    }

    #about .services {
        padding: 2em 0;
    }

    #about .services-grids {
        float: none;
        width: 100%;
        padding: 0;
        margin-bottom: 1em;
    }

    #about .services-left {
        padding: 2.3em 0;
    }

    span.glyphicon {
        font-size: 2.5em;
    }

    .services-info.services-row2 {
        margin-top: 0;
    }
    #about .services-info.services-row2 {
        margin-top: 0;
    }
}

@media(max-width:414px) {
    .services-right h4 {
        font-size: 1.2em;
        margin-bottom: 0.3em;
    }

    .services-right {
        width: 75%;
    }

    .services-left {
        padding: 2.1em 0;
        width: 25%;
    }

    #about .services-right h4 {
        font-size: 1.2em;
        margin-bottom: 0.3em;
    }

    #about .services-right {
        width: 75%;
    }

    #about .services-left {
        padding: 2.1em 0;
        width: 25%;
    }
}
@media (max-width: 872px){
    #header .navbar-nav {
        display:none;
    }

}
@media (min-width: 768px) {
    #login .form-horizontal .control-label {
        padding-top: 0px;
        margin-bottom: 0;
        text-align: right;
    }

    #login .panel {
        background-color: rgba(255, 255, 255, 0.80);
    }

    #login .btn-primary:hover {
        background: #204d74;
    }

    #login .panel-body {
        padding-bottom: 0px;
    }

    #login .panel-primary > .panel-heading {
        color: #fff;
        background-color: rgba(33, 32, 30, 0.8);
        background: rgba(33, 32, 30, 0.8);
    }

    #login .active a {
        font-family: Montserrat, sans-serif;
        background: #21201e;
        color: #fff;
        font-weight: normal;
    }

    #login .navbar-nav > li > a {
        font-family: Montserrat, sans-serif;
        transition: 0.5s;
        color: #fff;
        font-weight: normal;
    }

    #login .navbar-nav > li > a:hover {
        font-family: Montserrat, sans-serif;
        transition: 0.5s;
        background: transparent;
        color: #fff;
        font-weight: normal;
    }

    #login.navbar-nav > li > a:focus {
        font-family: Montserrat, sans-serif;
        transition: 0.5s;
        background: transparent;
        color: #fff;
        font-weight: normal;
    }

    #login p.navbar-text {
        font-family: Montserrat, sans-serif;
        font-size: 18px;
        margin-bottom: 0;
    }

    #login p.grey {
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        color: #c6cad1;
    }

    #login h1 {
        font-family: Montserrat, sans-serif;
        font-size: 31px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
    }

    #login p {
        color: #fff;
        font-size: 25px;
    }
}



.panel-primary > .panel-heading {
    color: #fff;
    background-color: #21201e;
    border-color: #21201e;
}
.panel-primary {
    border-color: #21201e;
}

.nav > li > a:active, .nav > li > a:active {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.00);
    color: #828689;
}